@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Kdam+Thmor+Pro&family=Neucha&family=Noto+Sans+JP:wght@100&display=swap');

.navbar {
  color: black;
 
}

.logo {
  border-radius: 50%;
}

.welcomeText {
  margin-top: 25%;
  text-align: center;
}

