.navbar {
  color: black;
}

.logo {
  border-radius: 50%;
}

.mainText {
  margin-top: 30%;
  text-align: center;
  justify-content: center;
}

.welcomeText {
  margin-top: 25%;
  text-align: center;
  justify-content: center;
}

