@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Neucha&display=swap');

.navbar {
  color: black;
 
}

.logo {
  border-radius: 50%;
}

 /* {
  font-family: 'Fascinate', cursive;
  font-family: 'Neucha', cursive;
} */
