/* @import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Neucha&display=swap'); */

body {
  margin: 0;
 background-color: #a0aecdc3;
}

/* code {
  font-family: 'Fascinate', cursive;
font-family: 'Neucha', cursive;
} */
